# This file tells Git which files shouldn't be added to source control

.idea
dist
node_modules
storage
.env
packages/prisma_pg/prisma/erd
packages/prisma_pg/prisma/erd/*
packages/prisma_pg/prisma/docs
packages/prisma_pg/prisma/docs/*
packages/prisma_pg/prisma/migrations
packages/prisma_pg/prisma/migrations/*
*.log